<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing the Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit the post:</h1>
    <p>Post id : @<%= post.id %></p>
    <p>Post username : @<%= post.username%></p>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
        <Textarea rows="8" cols="40" name="content"><%= post.content %> </Textarea>
        <button>Submit</button>
    </form>
    
</body>
</html>