<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here is your Post in Detail:</h1>
    <p>id : <%= post.id %></p>
    <div class="post">
        <p>username : <%= post.username %></p>
        <p>content : <%= post.content %></p>
    </div>
    
</body>
</html>